{% extends "base.html" %}
{% load static %}

{% block content %}
    <!--================ Start Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div class="banner_content text-center">
                    <h2>Blog Details</h2>
                    <div class="page_link">
                        <a href="{% url 'index-page' %}">Home</a>
                        <a href="{% url 'blog-page' %}">Blog</a>
                        <a href="{% url 'single-blog-page' %}">Blog Details</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ End Banner Area =================-->
    
    <!--================Blog Area =================-->
    <br><section class="section-sm bg-gray">
        <div class="container">
          <div class="row">
            {% for post in posts %}
            <div class="col-12 mb-4">
              <img style="width: 10px; height: 500px;" src="{{ post.image.url }}" alt="blog-thumb" class="img-fluid w-100">
            </div>
            <div class="col-12">
              <ul class="list-inline">
                <li class="list-inline-item mr-4 mb-3 mb-md-0 text-light"><span class="font-weight-bold mr-2">Post:</span>{{ post.author }}</li>
                <li class="list-inline-item mr-4 mb-3 mb-md-0 text-light">{{ post.date|date:"F d, Y" }}</li>
                <li class="list-inline-item mr-4 mb-3 mb-md-0 text-light"><i class="ti-book mr-2"></i>{{ post.read_count }}</li>
                <li class="list-inline-item mr-4 mb-3 mb-md-0 text-light"><i class="ti-share mr-2"></i>{{ post.share_count }}</li>
                <li class="list-inline-item mr-4 mb-3 mb-md-0 text-light"><a class="text-light" href="#"><i class="ti-comments mr-2"></i>{{ comments.count }}</a></li>
              </ul>
            </div>
            <!-- border -->
            <div class="col-12 mt-4">
              <div class="border-bottom border-primary"></div>
            </div>
            <!-- blog contect -->
            <div class="col-12 mb-5">
              <h2>{{ post.title }}</h2>
              <p>{{ post.content }}</p>
            </div>
            {% endfor %}
          </div>
        </div>
      </section>
  
    <!--================Blog Area =================-->

     <!--================ Start Newsletter Area =================-->
     <section class="newsletter_area">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-12">
                    <div class="subscription_box text-center">
                        <h2 class="text-uppercase text-white">istalgan joydan yangilanishlarni oling</h2>
                        <p class="text-white">
                            Bearing Void gathering light light his eavening unto dont afraid. 
                        </p>
                        <div class="subcribe-form" id="mc_embed_signup">
                            <form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscription relative">
                                <input name="EMAIL" placeholder="Email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'" required="" type="email">
                                <div style="position: absolute; left: -5000px;">
                                    <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                                </div>
                                <button class="primary-btn hover d-inline">Boshlash</button>
                                <div class="info"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock content %}